<div class="main">
  <div class="text-center">
    <img class="logo" src="../../assets/stratis-logo.svg" width="200">
  </div>
  <div class="form-section mx-auto rounded border shadow p-4">

    <button class="connect btn btn-lg w-100 mb-3" type="button" (click)="connect()" [class]="connected? 'btn-success': 'btn-primary'" [disabled]="connected || connecting">
      <img src="../../assets/metamask-fox.svg" class="metamask-logo">
      {{ connected ? 'Connected to MetaMask!': 'Connect to MetaMask' }}
    </button>

    <div [(ngbCollapse)]="!connected">
      <form [formGroup]="form">
        <p class="text-end text-muted">
          {{ chain?.name }} Network
        </p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [value]="account" disabled placeholder="Account">
          <span class="input-group-text"><i class="bi bi-person-fill me-1"></i>Account</span>
        </div>
        <select class="form-select mb-3" [(ngModel)]="tokenId" [ngModelOptions]="{standalone: true}" (change)="tokenSelected()">
          <option [ngValue]="0">Please Select Token</option>
          <optgroup *ngFor="let option of tokenOptions" [label]="option.title">
            <option *ngFor="let token of option.tokens" [ngValue]="token.id">{{ token.title }}</option>
          </optgroup>
        </select>
        <div [ngbCollapse]="!token">
          <div class="mb-3">
            <input class="form-control" formControlName="address" placeholder="{{ token?.destination }} Address" autocomplete="off">
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
              <div *ngIf="address.errors?.['required']">Address is required.</div>
              <div *ngIf="address.errors?.['address']">Address is invalid.</div>
              <div *ngIf="address.errors?.['addressRegistery']">
                Address is not registered. Please click here to
              <a [routerLink]="" (click)="registerAddress()" class="link-primary">Register</a>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="number" class="form-control" formControlName="amount" placeholder="Amount">
            <span class="input-group-text">{{ token?.ticker }}</span>
            <div class="invalid-feedback d-flex justify-content-between">
              <div [class.invisible]="!(amount.invalid && (amount.dirty || amount.touched))">
                <div *ngIf="amount.errors?.['required']">Amount is required.</div>
                <div *ngIf="amount.errors?.['min']">Amount must be higher than zero.</div>
                <div *ngIf="amount.errors?.['max']">Amount must be lower than your balance.</div>
              </div>
              <a href="" [routerLink]="" class="balance fw-bold justify-content-end text-decoration-none form-text" placement="right" ngbTooltip="Click here to paste" (click)="setFullBalance()">
                {{ toEther(balance) | number:'1.2-2' }} {{ token?.ticker }}
              </a>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg w-100 mb-3" [disabled]="form.invalid" (click)="transfer()">
            <i class="bi bi-wallet-fill"></i> Transfer {{ token?.ticker }}
          </button>
        </div>

      </form>
    </div>
  </div>
</div>

