<div class="main">
  <div class="text-center">
    <img class="logo" src="../../assets/stratis-logo.svg" width="200">
  </div>
  <div class="form-section bg-white mx-auto rounded border shadow p-4">
    <button *ngIf="!metaMaskInstalled" class="connect btn btn-info btn-lg w-100" (click)="install()">
      <img src="../../assets/metamask-fox.svg" class="metamask-logo" />
      Install MetaMask
    </button>

    <button *ngIf="metaMaskInstalled" class="connect btn btn-lg w-100" type="button" (click)="connect()"
      [class]="connected? 'btn-success': 'btn-primary'" [disabled]="connected || connecting">
      <img src="../../assets/metamask-fox.svg" class="metamask-logo">
      {{ connected ? 'Connected to MetaMask!': 'Connect to MetaMask' }}
    </button>

    <div [(ngbCollapse)]="!connected">
      <form [formGroup]="form" class="mt-3">
        <ngb-alert *ngIf="alert" #alertEl [type]="alert.type" (closed)="closeAlert()">
          <span [innerHtml]="alert.message"></span>
        </ngb-alert>
        <p class="text-end text-muted">
          {{ chain?.name }} Network
        </p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" [value]="account" disabled readonly placeholder="Account">
          <span class="input-group-text"><i class="bi bi-person-fill me-1"></i>Account</span>
        </div>
        <select class="form-select mb-3" formControlName="tokenId">
          <option [ngValue]="0">Please Select Token</option>
          <optgroup *ngFor="let option of tokenOptions" [label]="option.title">
            <option *ngFor="let token of option.tokens" [ngValue]="token.id">{{ token.title }}</option>
          </optgroup>
        </select>
        <div [ngbCollapse]="!token">
          <div class="mb-3">
            <div class="input-group address">
              <input type="text" class="form-control" formControlName="address"
                placeholder="{{ token?.destination }} Address">
              <span class="input-group-text">To </span>
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
                <div *ngIf="address.errors?.['required']">Address is required.</div>
                <div *ngIf="address.errors?.['address']">Address is not valid {{ token?.destination }} address.</div>
                <div *ngIf="address.errors?.['addressRegistery']">
                  Address is not registered. Please click here to
                  <a [routerLink]="" (click)="registerAddress()" class="link-primary">Register</a>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center form-text" *ngIf="registeryMessage">
              {{ registeryMessage }}<div class="spinner-border spinner-border-sm ms-1"></div>
            </div>
          </div>

          <div class="input-group mb-3">
            <input type="number" class="form-control" formControlName="amount" placeholder="Amount">
            <span class="input-group-text">{{ token?.ticker }}</span>
            <div class="invalid-feedback d-flex justify-content-between">
              <div [class.invisible]="!(amount.invalid && (amount.dirty || amount.touched))">
                <div *ngIf="amount.errors?.['required']">Amount is required.</div>
                <div *ngIf="amount.errors?.['min']">Amount must be higher than zero.</div>
                <div *ngIf="amount.errors?.['max']">Amount must be lower than your balance.</div>
              </div>
              <a href="" [routerLink]="" class="balance fw-bold justify-content-end text-decoration-none form-text"
                placement="right" ngbTooltip="Click here to paste" (click)="setFullBalance()">
                {{ toEther(balance) | number:'1.2-4' }} {{ token?.ticker }}
              </a>
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-lg w-100 mb-3" [disabled]="form.invalid || form.disabled"
            (click)="transfer()">
            <i class="bi bi-wallet-fill"></i> Transfer {{ token?.ticker }}
          </button>
          <div class="add-wallet">
            <a href="" [routerLink]="[]" (click)="addWallet()" class="small">Add {{ token?.ticker }} wallet
              to MetaMask</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
